<img src="../../img/logo_amds.png" alt="Logo" style="width: 128px;"/>

# AmsterdamUMCdb - Freely Accessible ICU Database

version 1.0.2 March 2020  
Copyright &copy; 2003-2020 Amsterdam UMC - Amsterdam Medical Data Science

# Mechanical ventilation
Shows the modes or types of mechanical ventilation (artificial respiration), if any, a patient received. Includes common ventilation parameters: ventilation mode, peak airway pressure, PEEP, respiratory rate, tidal volume, minute volume/ventilation, end tidal CO2.

**Note**: Requires creating the [dictionaries](../../dictionaries/create_dictionaries.ipynb) before running this notebook.

## Imports

In [1]:
%matplotlib inline
import amsterdamumcdb
import psycopg2
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import matplotlib as mpl

import io
from IPython.display import display, HTML, Markdown

## Display settings

In [2]:
#matplotlib settings for image size
#needs to be in a different cell from %matplotlib inline
plt.style.use('seaborn-darkgrid')
plt.rcParams["figure.dpi"] = 288
plt.rcParams["figure.figsize"] = [16, 12]
plt.rcParams["font.size"] = 12

pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = 1000

## Connection settings

In [3]:
#Modify config.ini in the root folder of the repository to change the settings to connect to your postgreSQL database
import configparser
import os
config = configparser.ConfigParser()

if os.path.isfile('../../config.ini'):
    config.read('../../config.ini')
else:
    config.read('../../config.SAMPLE.ini')

#Open a connection to the postgres database:
con = psycopg2.connect(database=config['psycopg2']['database'], 
                       user=config['psycopg2']['username'], password=config['psycopg2']['password'], 
                       host=config['psycopg2']['host'], port=config['psycopg2']['port'])
con.set_client_encoding('WIN1252') #Uses code page for Dutch accented characters.
con.set_session(autocommit=True)

cursor = con.cursor()
cursor.execute('SET SCHEMA \'amsterdamumcdb\''); #set search_path to amsterdamumcdb schema

In [4]:
#loads the dictionary for fast lookup
listitems_itemids = pd.read_csv('../../dictionaries/listitems_itemids.csv')
numericitems_itemids = pd.read_csv('../../dictionaries/numericitems_itemids.csv')

## Common ventilation parameters

### ventilation mode

In [5]:
listitems_itemids[listitems_itemids['item'].str.contains('(?<!medicatie.)(?<!SEPSIS_PROTECTIEVE_)(?<!Acceptatie.)(?:beademing|ventilatie|toediening|bipap)', flags=re.IGNORECASE)]

     itemid                       item  valueid                   value
36     6685     Type Beademing Evita 4        1                    CPPV
37     6685     Type Beademing Evita 4        3                     ASB
38     6685     Type Beademing Evita 4        5             CPPV/ASSIST
39     6685     Type Beademing Evita 4        6                SIMV/ASB
40     6685     Type Beademing Evita 4        8                    IPPV
41     6685     Type Beademing Evita 4        9             IPPV/ASSIST
42     6685     Type Beademing Evita 4       10                    CPAP
43     6685     Type Beademing Evita 4       11                CPAP/ASB
44     6685     Type Beademing Evita 4       12                     MMV
45     6685     Type Beademing Evita 4       13                 MMV/ASB
46     6685     Type Beademing Evita 4       14                   BIPAP
47     6685     Type Beademing Evita 4       20          BIPAP-SIMV/ASB
48     6685     Type Beademing Evita 4       22               BIPAP/ASB
88     8189             Toedieningsweg        1             Diep Nasaal
89     8189             Toedieningsweg        2                  Nasaal
90     8189             Toedieningsweg        3                   Kapje
91     8189             Toedieningsweg        4               Kunstneus
92     8189             Toedieningsweg        7                 O2-bril
93     8189             Toedieningsweg        8                Kinnebak
94     8189             Toedieningsweg        9               Nebulizer
95     8189             Toedieningsweg       10                Waterset
96     8189             Toedieningsweg       11             Trach.stoma
97     8189             Toedieningsweg       12                 B.Lucht
98     8189             Toedieningsweg       13                    Ambu
99     8189             Toedieningsweg       14                  Guedel
100    8189             Toedieningsweg       15                 DL-tube
101    8189             Toedieningsweg       16                    CPAP
102    8189             Toedieningsweg       17  Non-Rebreathing masker
103    8189             Toedieningsweg       18            Spreekcanule
104    8189             Toedieningsweg       19            Spreekklepje
296    8848          Beademingstoestel        1                 Evita 1
297    8848          Beademingstoestel        2                 Evita 4
298    8848          Beademingstoestel        3            Bipap Vision
390    9534     Type beademing Evita 1        1                    IPPV
391    9534     Type beademing Evita 1        2             IPPV_Assist
392    9534     Type beademing Evita 1        3                    CPPV
393    9534     Type beademing Evita 1        4             CPPV_Assist
394    9534     Type beademing Evita 1        5                    SIMV
395    9534     Type beademing Evita 1        6                SIMV_ASB
396    9534     Type beademing Evita 1        7                     ASB
397    9534     Type beademing Evita 1        8                    CPAP
398    9534     Type beademing Evita 1        9                CPAP_ASB
399    9534     Type beademing Evita 1       10                     MMV
400    9534     Type beademing Evita 1       11                 MMV_ASB
401    9534     Type beademing Evita 1       12                   BIPAP
402    9534     Type beademing Evita 1       13      Pressure Controled
412    9631       Beademingstoestel(2)        2                 Evita 1
413    9652  Type Beademing Evita 4(2)       15               BIPAP/ASB
719   12290      Ventilatie Mode (Set)        1                Stand By
720   12290      Ventilatie Mode (Set)        2                     PC
721   12290      Ventilatie Mode (Set)        3                     VC
722   12290      Ventilatie Mode (Set)        4                   PRVC
723   12290      Ventilatie Mode (Set)        5                      VS
724   12290      Ventilatie Mode (Set)        6             SIMV(VC)+PS
725   12290      Ventilatie Mode (Set)        7             SIMV(PC)+PS
726   12290      Ventilatie Mode (Set)        8                 PS/CPAP
727   12290      Ventilatie Mode (Set)        9                Bi Vente
728   12290      Ventilatie Mode (Set)       10            PC (No trig)
729   12290      Ventilatie Mode (Set)       11            VC (No trig)
730   12290      Ventilatie Mode (Set)       12          PRVC (No trig)
731   12290      Ventilatie Mode (Set)       13          PS/CPAP (trig)
732   12290      Ventilatie Mode (Set)       14               VC (trig)
733   12290      Ventilatie Mode (Set)       15             PRVC (trig)
734   12290      Ventilatie Mode (Set)       16               PC in NIV
735   12290      Ventilatie Mode (Set)       17          PS/CPAP in NIV
736   12290      Ventilatie Mode (Set)       18                    NAVA
737   12347  Ventilatie Mode (Set) (2)        1                Stand By
738   12347  Ventilatie Mode (Set) (2)        2                      PC
739   12347  Ventilatie Mode (Set) (2)        3                      VC
740   12347  Ventilatie Mode (Set) (2)        6             SIMV(VC)+PS
741   12347  Ventilatie Mode (Set) (2)        7             SIMV(PC)+PS
742   12347  Ventilatie Mode (Set) (2)        8                 PS/CPAP
743   12376        Mode (Bipap Vision)        1                    CPAP
744   12376        Mode (Bipap Vision)        2                   BIPAP

### Peak airway pressure

In [6]:
numericitems_itemids[numericitems_itemids['item'].str.contains('(?<!PA.)(?<!PBE.|PD1.|PFD.|TMP.|Edi.)(?<!Flow.)(?:peak|piek|max)', 
                                                               flags=re.IGNORECASE)]

      itemid            item  unitid   unit
202     8852           P max     177   mbar
222     8877       Peak druk     177   mbar
881    12281       Piek druk     175  cmH2O
926    12365   Piek druk (2)     175  cmH2O
1211   16239  Zephyros Ppeak     175  cmH2O

### PEEP

In [7]:
numericitems_itemids[numericitems_itemids['item'].str.contains('(?<!T.)(?<!boven.)(?<!Intrinsic.)PEEP(?!.tot)', flags=re.IGNORECASE)]

      itemid               item  unitid   unit
211     8862          PEEP/CPAP     177   mbar
224     8879     PEEP (gemeten)     177   mbar
283     9666  PEEP (gemeten)(2)     177   mbar
884    12284         PEEP (Set)     175  cmH2O
911    12336     PEEP (Set) (2)     175  cmH2O
1220   16250      Zephyros PEEP     175  cmH2O

### respiratory rate

In [8]:
numericitems_itemids[numericitems_itemids['item'].str.contains(r'(?<!hfo-)(?<!hart)(?<!pacemaker )freq', flags=re.IGNORECASE)]

      itemid                        item  unitid   unit
126     7726     Ademfrequentie Spontaan       0   None
200     8850                  Frequentie       0   None
203     8853                   Freq. IMV       0   None
218     8873        Ademfrequentie Evita       0   None
219     8874      Ademfrequentie Monitor       0   None
221     8876         Frequentie Spontaan       0   None
277     9654  Ademfrequentie Spontaan(2)       0   None
871    12266                   Ademfreq.      15   /min
883    12283       Adem Frequentie (Set)      15   /min
887    12287       SIMV Frequentie (Set)      26  l/min
907    12322   Adem Frequentie (Set) (2)      15   /min
916    12348                Ademfreq.(2)      15   /min
990    12577    Ademfreq. Spontaan nieuw      15   /min
1037   13092            A_Ademfrequentie      15   /min
1135   14455           RA_Ademfrequentie      15   /min
1213   16241         Zephyros Frequentie      15   /min
1218   16248              Zephyros  Freq      15   /min
1235   16613          MCA_Ademfrequentie      15   /min

### tidal volume

In [9]:
numericitems_itemids[numericitems_itemids['item'].str.contains(r'(?<!CO2.)(?:teug|tidal)(?!.CO2)', flags=re.IGNORECASE)]

     itemid                     item  unitid unit
201    8851       Tidal Volume (Set)       6   ml
217    8872  Tidal Volume Spirometer       6   ml
276    9646    Tidal Volume (set)(2)       6   ml
875   12275        Exp. tidal volume       6   ml
877   12277       Insp. tidal volume       6   ml
890   12291         Teugvolume (Set)       6   ml
922   12358    Exp. tidal volume (2)       6   ml
923   12360   Insp. tidal volume (2)       6   ml

### minute volume (=minute ventilation)

In [10]:
numericitems_itemids[numericitems_itemids['item'].str.contains(r'(?<!tidal.)(?<!teug)(?:min.*vol|min.*vent|vol.*set)',
                                                               flags=re.IGNORECASE)]

     itemid                    item  unitid   unit
874   12273      Exp. minuut volume      26  l/min
876   12276     Insp. Minuut volume      26  l/min
889   12289            Volume (Set)      26  l/min
921   12357  Exp. minuut volume (2)      26  l/min
932   12374                 MinVent      26  l/min

### end tidal CO2

In [11]:
numericitems_itemids[numericitems_itemids['item'].str.contains(r'(?:tidal|Et).*CO2', flags=re.IGNORECASE)]

      itemid                            item  unitid  unit
32      6707      End tidal CO2 concentratie     173  mmHg
228     8884                 End Tidal CO2 %       0  None
229     8885              End Tidal CO2 mmHG     173  mmHg
279     9658              End Tidal CO2% (2)       0  None
920    12356  End tidal CO2 concentratie (2)     173  mmHg
1018   12805                       EtCO2 (%)     191  Geen

### Mechanical ventilation: summary per admission

In [12]:
sql_mechanical_ventilation = """
SELECT 
    admissionid,
    CASE
        WHEN COUNT(*) > 0 THEN TRUE
        ELSE FALSE
    END AS mechanical_ventilation_bool,
    STRING_AGG(DISTINCT value, '; ') AS mechanical_ventilation_modes
FROM listitems
WHERE 
    (
        itemid = 9534  --Type beademing Evita 1
        AND valueid IN (
            1, --IPPV
            2, --IPPV_Assist
            3, --CPPV
            4, --CPPV_Assist
            5, --SIMV
            6, --SIMV_ASB
            7, --ASB
            8, --CPAP
            9, --CPAP_ASB
            10, --MMV
            11, --MMV_ASB
            12, --BIPAP
            13 --Pressure Controled
        )
    )
    OR (
        itemid = 6685 --Type Beademing Evita 4
        AND valueid IN (
            1, --CPPV
            3, --ASB
            5, --CPPV/ASSIST
            6, --SIMV/ASB
            8, --IPPV
            9, --IPPV/ASSIST
            10, --CPAP
            11, --CPAP/ASB
            12, --MMV
            13, --MMV/ASB
            14, --BIPAP
            20, --BIPAP-SIMV/ASB
            22 --BIPAP/ASB
        )
    )
    OR (
        itemid = 8189 --Toedieningsweg O2
        AND valueid = 16 --CPAP
    ) 
    OR (
        itemid IN (
            12290, --Ventilatie Mode (Set) - Servo-I and Servo-U ventilators
            12347 --Ventilatie Mode (Set) (2) Servo-I and Servo-U ventilators
        )
        AND valueid IN (
            --IGNORE: 1, --Stand By
             2, --PC
             3, --VC
             4, --PRVC
             5, --VS
             6, --SIMV(VC)+PS
             7, --SIMV(PC)+PS
             8, --PS/CPAP
             9, --Bi Vente
             10, --PC (No trig)
             11, --VC (No trig)
             12, --PRVC (No trig)
             13, --PS/CPAP (trig)
             14, --VC (trig)
             15, --PRVC (trig)
             16, --PC in NIV
             17, --PS/CPAP in NIV
             18 --NAVA
        )
    )
    OR itemid = 12376 --Mode (Bipap Vision)
    AND valueid IN (
        1, --CPAP
        2 --BIPAP
    )
GROUP BY admissionid
"""            
mechanical_ventilation = pd.read_sql(sql_mechanical_ventilation,con)
mechanical_ventilation.head()

,admissionid,mechanical_ventilation_bool,mechanical_ventilation_modes
0,0,True,PC ; PS/CPAP; PS/CPAP (trig)
1,1,True,PC ; PS/CPAP; PS/CPAP (trig)
2,2,True,PC
3,3,True,PC (No trig); PS/CPAP
4,4,True,PC ; PC (No trig); PS/CPAP; PS/CPAP (trig); VC